- name: Get enabled addons
  shell: microk8s status --format yaml
  register: microk8s_status
  changed_when: false

- set_fact:
    addons_enabled: >-
      {{
        microk8s_status.stdout
        | from_yaml
        | dict2items(key_name='key', value_name='val')
        | selectattr('key', 'equalto', 'addons')
        | map(attribute='val')
        | first
        | selectattr('status', 'equalto', 'enabled')
        | map(attribute='name')
        | list
      }}

- name: Enable DNS
  shell: microk8s enable dns
  when: "'dns' not in addons_enabled"

- name: Enable Ingress
  shell: microk8s enable ingress
  when: "'ingress' not in addons_enabled"

- name: Enable Hostpath Storage
  shell: microk8s enable hostpath-storage
  when: "'hostpath-storage' not in addons_enabled"

- name: Enable MetalLB
  shell: microk8s enable metallb
  when: "'metallb' not in addons_enabled"