# -------------------------
# Gather enabled addons
# -------------------------
- name: Get enabled addons
  shell: microk8s status --format yaml
  register: microk8s_status
  changed_when: false

- name: Parse enabled addons
  set_fact:
    addons_enabled: >-
      {{
        microk8s_status.stdout
        | from_yaml
        | dict2items(key_name='key', value_name='val')
        | selectattr('key', 'equalto', 'addons')
        | map(attribute='val')
        | first
        | selectattr('status', 'equalto', 'enabled')
        | map(attribute='name')
        | list
      }}

# -------------------------
# Enable Core Addons
# -------------------------
- name: Enable DNS
  shell: microk8s enable dns
  when: "'dns' not in addons_enabled"

- name: Wait for CoreDNS pod ready
  shell: microk8s kubectl wait --for=condition=ready pod -l k8s-app=kube-dns -n kube-system --timeout=120s
  when: "'dns' not in addons_enabled"
  ignore_errors: yes

- name: Enable Ingress
  shell: microk8s enable ingress
  when: "'ingress' not in addons_enabled"

- name: Wait for Ingress pod ready
  shell: microk8s kubectl wait --for=condition=ready pod -l name=nginx-ingress-microk8s -n ingress --timeout=120s
  when: "'ingress' not in addons_enabled"
  ignore_errors: yes

- name: Enable Hostpath Storage
  shell: microk8s enable hostpath-storage
  when: "'hostpath-storage' not in addons_enabled"


# -------------------------
# Enable MetalLB
# -------------------------
- name: Enable MetalLB
  shell: microk8s enable metallb:{{ metallb_ip_range }}
  when: "'metallb' not in addons_enabled"

- name: Wait for MetalLB pods ready
  shell: microk8s kubectl wait --for=condition=ready pod -l app=metallb -n metallb-system --timeout=120s
  when: "'metallb' not in addons_enabled"
  ignore_errors: yes

# -------------------------
# Enable Helm
# -------------------------
- name: Enable Helm
  shell: microk8s enable helm3
  when: "'helm3' not in addons_enabled"

# -------------------------
# Enable Cert Manager
# -------------------------
- name: Enable Cert Manager
  shell: microk8s enable cert-manager
  when: "'cert-manager' not in addons_enabled"

- name: Wait for Cert Manager pods ready
  shell: microk8s kubectl wait --for=condition=available deployment/cert-manager -n cert-manager --timeout=120s
  when: "'cert-manager' not in addons_enabled"
  ignore_errors: yes