- name: Install snapd
  apt:
    name: snapd
    state: present
    update_cache: yes

- name: Install MicroK8s
  snap:
    name: microk8s
    classic: yes
    channel: "{{ microk8s_version }}/stable"

- name: Ensure ansible user is in microk8s group
  user:
    name: "{{ ansible_user }}"
    groups: microk8s
    append: yes

- name: Fix kube config permissions
  file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755