- name: Apply custom MetalLB config
  template:
    src: metallb-config.yaml.j2
    dest: /tmp/metallb-config.yaml

- name: Apply MetalLB config
  shell: microk8s kubectl apply -f /tmp/metallb-config.yaml