- name: Enable MetalLB
  shell: microk8s enable metallb:{{ metallb_ip_range }}
  args:
    creates: /var/snap/microk8s/common/addons/core/metallb

- name: Apply custom MetalLB config (optional)
  template:
    src: metallb-config.yaml.j2
    dest: /tmp/metallb-config.yaml

- name: Apply MetalLB config
  shell: microk8s kubectl apply -f /tmp/metallb-config.yaml